<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142626500768-ahiu69p4geipjb3g3ha1hdtrh2gtjs92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142626500768-ahiu69p4geipjb3g3ha1hdtrh2gtjs92</string>
	<key>API_KEY</key>
	<string>AIzaSyBDkZRX_MmPvG1QDyLQkA-Mh_Zys0gC5K0</string>
	<key>GCM_SENDER_ID</key>
	<string>142626500768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationTrackingFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-geolocation-734d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-geolocation-734d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142626500768:ios:01a25c18df86106ccf59c5</string>
</dict>
</plist>